<h2 id="conclusion"> Conclusion </h2>

To conclude, what our analysis pointed out is the fact that there are many things a creative mind could say
while performing classical data analysis on IRA's tweets dataset.
As previously mentionned, we sometimes faced a lack of data.
Mostly data about the real effects of an (over)exposure to fake news/trolls on the
opinion of people. Such information sometimes exist but are either incomplete or
not free.
After understanding the impossibility of completely answering all of our initial
questions, we started to think differently.
We managed to discover as many pieces of evidence as possible, traces of possible
interferences of IRA's trolls, both on American and Ukrainian politics.
<br> </br>
At the end of the day we would like to underline the correct identification of
the troll accounts. Our analysis showed so many correlations and confounding events
that it clearly appears those accounts were willing to spread misinformation
through the Internet.
<br> </br>
Here are, for each analysis, the lessons we can learn:
<ul>
  <li> The temporal analysis showed that the volume of activity of the trollers matches very well mediatic (political) events ; especially
  regarding US 2016 presidential elections and the Crimean armed conflict (Donbass' war). </li>
  <li> Textual analysis shed light on the fact that trolls tend to use a vocabulary that is, in general, more negative. Their favourite word is Trump ! </li>
  <li> Retweets and URLs showed that Russian speaking accounts interact more between each other and focus on spreading messages from their government's news media.
      Meanwhile, English speaking accounts look more casual, and manage to get retweeted more frequently.</li>
</ul>
