<h2 id="introduction"> Introduction </h2>

Among the enormous volume of tweets exchanged during the 2016 US presidential election campaign,
millions were sent by alleged Russian troll accounts. Those accounts have been accused of
manipulating the campaign and its outcome.<br>

Given how dramatic and dangerous the consequences of a country influencing the
democratic process of another can be, we want to get a better insight on the
methods and the real effects of the trolls.<br>

On one side, we compare their activities with the evolution of popularity
of the candidates along the campaign. We will also take a look at the major events
of the election and determine if they were influenced by the trolls and vice-versa.<br>

On the other side, we will study the methods employed by the Russians to disrupt
the presidential election. We will examine their vocabulary, the subjects they
discuss as well as the media and people they refer to.<br>
We also keep an eye on the strategy employed by Russian trolls in other countries,
and mainly in Ukraine.
<br>
<br>

Our analysis will mainly focus on trying to provide an answer to the following questions.<br>
<br>
<ul>
  <li>Is there a relation between the candidates popularities and the activities of the trolls? </li>
  <li>Did the trolls influence the major events of the campaign? Is it the other way around? </li>
  <li>Which subjects are discussed by the trolls?</li>
  <li>Which media do they tend to talk about and link in their posts?</li>
  <li>Do they tend to show direct support or hatred for specific people?</li>
  <li>Did the strategy of the trolls change over time?</li>
</ul>

<h2> Dataset </h2>
The main dataset we are going to use for this project is <a href="https://drive.google.com/file/d/1GBsVXYvPrGcYI-wR4mWGO39fly1TMqjO/view">the Russian and Iranian Troll</a> dataset from <a href="https://about.twitter.com/en_us/values/elections-integrity.html#data">Twitter</a>. It contains over 10 million tweets of accounts associated with IRA and Iranian trolls. It gives information about the account itself (Twitter handle, number of followers and following, account preferences...), and about the individual tweet (content, date and time of publication, type of post, number of retweets...).
<br>
<br>
Regarding the popularities of the candidates, we have identified an important amount of data source on <a href="https://www.realclearpolitics.com/epolls/latest_polls/president/#">realclearpolitics.com</a>.
<br>
<br>
We also took a look at the events after the campaign, with for example the evolution of the approval rate of Donald Trump proposed by <a href="https://projects.fivethirtyeight.com/trump-approval-ratings/?ex_cid=rrpromo">FiveFirtyEight</a>.
<br>
<br>
Finally, for the timeline of the campaign and its major events, <a href="https://en.wikipedia.org/wiki/Timeline_of_the_2016_United_States_presidential_election>Wikipedia"</a> has a lot of information.
<br><br>
<b> NB </b> : <i>Not all the tweets collected are trolls per se.</i>
The tweets originate from alleged troll accounts that were identified by Twitter.
However, in order to not be spotted immediately as fake foreign accounts they
also tried to pose as any regular American or Russian account.
Therefore the dataset also contains plenty of seemingly innocent tweets.
