<br></br>
<h2> Detailed Temporal Analysis </h2>

<h3> Time Window 1 (Vladimir Putin and US 2012 Elections)</h3>
Small interactions with US 2012 elections and easy to spot intra-Russia tweets about the elections.

<br> </br>
<center>
    <img src="img/temp1.png" width=400px>
    <img src="img/temp1bis.png" width=400px>
</center>

As previously highlighted a peak of activity is worth mentioning 1-2 months before final US 2012 presidentials (light blue)
Furthermore one can notice a serie of saddle points/plateau (green) around May 2012 : actually looking at the most retweeted tweets for period 1 it comes to light that <a href="https://en.wikipedia.org/wiki/Vladimir_Putin"> wikipedia/Vladimir Putin </a> has been put forward by troll accounts at that moment.
The second graph is focusing on troll activity directly related to politics/Obama, we still clearly observe the rising trend while approaching to the final elections !
<br></br>
<h4> Interesting Tweets </h4>
Among the 10 most retweeted directly-politically-related-tweets for the concerned time period, 3 really did catch our attention.
<br></br>
<center>
<table style="width:60%">
  <caption>3 hatred tweets and their meaning in english</caption>
  <tr>
    <th>Date</th>
    <th>RU : text</th>
    <th>EN : text</th>
  </tr>
  <tr>
    <td>2013-02-04 (after US 2012 elections)</td>
    <td>Давайте перенесемся в 1991 год. Вспомним все надежды, на демократию, Ельцина, радость от краха КПСС, и посмотрим на нашу действительность.</td>
    <td>Let's fast forward to 1991. Recall all hopes for democracy, Yeltsin, the joy of the collapse of the CPSU, and look at our reality.</td>
  </tr>
  <tr>
    <td>2012-03-03 </td>
    <td>Когда вы будете вводить демократию с помощью оружия?</td>
    <td>When will you introduce democracy with weapons?</td>
  </tr>
  <tr>
    <td>2013-05-11  (after US 2012 elections)</td>
    <td>Первые демократические #выборы в #Пакистан'е прошли на фоне взрывов и стрельбы. Власти отмечают высокую явку.</td>
    <td>Obama fell off his bike and suffered responsibility for the & lt; & lt; terrorist attack & gt; & gt; a terrorist group from & lt; & lt; Al-Qaida;</td>
  </tr>
</table>
</center>

Highlighted tweets above are quite expressive... and representative of the very start of the trolling wave, trollers used to employ gross/violent language and send content of hate sometimes.
 It's not because the elections are over that trollers stopped their inference duty : for instance, for the third tweet of the above table they want to put discredit on Obama with respect to a <i>terrorism</i> topic.
<br></br>
 <h3> Time Window 2 (Hiring Time) and Time Window 3 (Donbass' war) </h3>
 Recall : <br></br>
   <li><strong> fact 1 : </strong>  we observe increasing troll activity immediately time-correlated to the start of the well known armed conflict in Ukrainia.<br>     The semantic analysis performed above already showed the overall support tweets from IRA tried to send through.
  </li> <br>
   <li><strong>fact 2 :</strong> IRA launched a campaign during period 3 in order to recruit more and more people (hiring campaign of August 2013) </li>
 </ul>
 <br>
 <center>
     <img src="img/temp2.png" style="width: 400px; height: auto;">
     <img src="img/temp3.png" style="width: 400px; height: auto;">
 </center>

 As <a href= "https://en.wikipedia.org/wiki/War_in_Donbass"> wikipedia/war in Donbass </a> tells us, Ukrainia's armed conflict started around March-April 2014, then with some latency trollers began their job apparently.<br></br> Prior to those events a calm period had been observed, Ukrain's troubles seemed to trigger the trollers again.
 During the next time window we've spotted three major events (by this we mean events that were massively relayed by medias) for which IRA trollers did react. <br></br>

 Among them we can notice the shootdown of the russian war aircraft : 

 <ul>
   <li><strong> : </strong>   </li>
   <li><strong> : </strong> </li>
   <li><strong> : </strong> </li>
 </ul>
