<br></br>
<h2> Global Temporal Analysis </h2>

In order to assess the volumetry of tweets sent by <i>IRA's</i> identified troll farm
we would like to display the overall frequency distribution of the tweets.
In addition, we would like to observe the evolution of the number of troll accounts with time.
We might end up with an interesting trend that could be explained/supported by events in the actuality at the time being.<br></br>
Note that the first recorded tweets from troll accounts go back to 9th of May 2009 : pure <i>coincidence</i> is that Donald Trump's first tweet is dated 4th of May 2009
<br> </br>
<center>
    <img src="img/global_activity.png" width=400px>
    <img src="img/user_activity.png" width=400px>
</center>

Here we give a first insight on each period and its meaning. More detailed analysis will be conducted for each period in the dedicated sections of this data story. <br></br>

<ul>
  <li><strong>period 1 (US 2012 Elections) :</strong> In yellow one can observe a first increasing trend that is shaped like a hill. It's located between February 2012 and June 2013 with
 a noticeable spike in October 2012, the month right before US 2012 Elections.
Taking a look at the graph showing the evolution of the number of troll accounts with time one can argue that for such a small amount of them during period 1 they had to be quite active for that campaign. <br></br>
  </li>
  <li><strong>period 2 (Hiring Time) :</strong> Starting from mid 2013 and mostly at the beginning of 2014 one can notice a sudden increase in both the number of accounts and the troll feed activity ;
    those latter being obviously correlated. Looking <a href ="https://en.wikipedia.org/wiki/Internet_Research_Agency"> wikipedia/IRA's page </a> one can underline the <i>job proposal</i> made in August 2013 : <center> <br> (quote : "<i> Internet operators wanted ! ... </i>") <br></br> </center>
   The following website shed light on the early practices of IRA (<a href = "wired.co.uk/twitter-trolls](https://www.wired.co.uk/article/twitter-troll-data-russia-ira-iran"> wired.co.uk/twitter-troll </a>). Actually the initial goal of the <i>agency</i> was to infere on several events of the actuality (Elections, War in Ukraine, Terrorism, ... massive opportunities). Below the reader will find multiple signs/pieces of evidence of the diversity of the actions lead by IRA's troll farm.<br></br>
  </li>
  <li><strong>period 3 (Donbass' War, Full Swing) : </strong> This time window corresponds to a massive tweet campaign to support pro-russian factions in <i>Donbass war</i> in Ukrainia. <br></br>
 </li>
  <li><strong>period 4 (US 2016 Elections) : </strong>
This period of <i>high</i> activity embeds both Ukraine's war (2014-present, but its itensity reached a peak in mid-2014) and US 2016 presidential elections. After, the <i>troll</i> fever seems to drop monotically until June 2016 before growing up again <b>right before the final elections</b>. <br></br>
  </li>
  <li><strong>period 5 (Ukraine's war & Presidential Instability) : </strong>
    Right after the elections the activity of troll accounts isn't decreasing yet. Many contestations of the election results, presidential's transition ... etc make good troll topics. One could observe that until the end ofJanuary 2017, Trump's election wasn't confirmed yet by the congress (<a href ="https://en.wikipedia.org/wiki/Timeline_of_the_2016_United_States_presidential_election"> wikipedia/2016 US elections </a>)
    Trollers stop after 100 months, at the beginning of the academic year 2017-2018 (end of October 2017).
 </li>
</ul>
