<br></br>
<h2> Retweets </h2>


Retweets are one of the most important functionalities of Twitter.
They often lead to a snowball effect: a post that receives attention gets
retweeted several times, which gives it more visibility, thus more attention...
Retweets create retweets!
It is a really convenient and fast way to propagate a message. <br>

<h3> Retweeted by the trolls </h3>

A quick glance at the messages written by the trolls that got the most retweets
shows us that Russian is the main language for those. It has twice the count of
English.

<center>
<canvas id="myChart_retweeted_trolls_lang" width="750px" height="200px"></canvas>
</center>
<script>
var ctx = document.getElementById("myChart_retweeted_trolls_lang").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['RU', 'EN'],
        datasets: [{
        	label: "# Retweets",
        	data: [2013563, 1083622],
        	backgroundColor: ['red', 'blue']
        }]
    },
    options: {
        title: {
            display: true,
            fontSize: 18,
            text: 'Retweets performed by trolls per language'
        },
        responsive : false,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false,
        }
    }
});
</script>

Let us now take a look at the exposed accounts (trolls or not) that were the most
retweeted by the trolls.
Regarding trolls, we only take into account those that are not anonymized, as
they are by definition more popular, and they can offer us more information.

<center>
<canvas id="myChart_retweeted_all" width="900px" height="400px"></canvas>
</center>
<script>
var ctx = document.getElementById("myChart_retweeted_all").getContext('2d');

var gradient = ctx.createLinearGradient(0,0, 800,0);

// Add three color stops
gradient.addColorStop(0, 'green');
gradient.addColorStop(.75, 'blue');
gradient.addColorStop(1, 'purple');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['rianru', 'GazetaRu', 'riafanru', 'RT_russian', 'vesti_news', '[DELETED]', 'Pravdiva_pravda', 'lentaruofficial', 'tass_agency', 'leprasorium', '[DELETED]', 'zubovnik', 'lifenews_ru', 'NovostiSPb', 'ru_rbc', 'champ_football', '[ANON]', 'izvestia_ru', 'MaxDementiev', 'ruopentwit'],
        datasets: [{
            label: "# retweets",
	        data: [123830, 79030, 70395, 67521, 50560, 47279, 34712, 30997, 27712, 27433, 25092, 24909, 24196, 22366, 21039, 20580, 20289, 20253, 19753, 17841],
            backgroundColor: gradient
        }]
    },
    options: {
        title: {
            display: true,
            fontSize: 18,
            text: 'The 20 main handles retweeted by the trolls'
        },
        responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        }
    }
});
</script>

<center>
<canvas id="myChart_retweeted_trolls" width="900px" height="400px"></canvas>
</center>
<script>
var ctx = document.getElementById("myChart_retweeted_trolls").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['riafanru', 'zubovnik', 'NovostiSPb', 'MaxDementiev', 'ruopentwit', 'sigermon', 'NovostiMsk', 'byDrBre', 'vestnikrus', 'ComradZampolit', 'NovostiEkb', 'NovostiKzn', 'NovostiNN', 'NovostiUf', 'inforeactor', 'nevnov_ru', 'NovostiOmska', 'NovostiRnD', 'NovostiChel', 'DonetskNovosti'],
        datasets: [{
        	label: "# Retweets",
        	data: [70395, 24909, 22366, 19753, 17841, 16826, 16159, 15671, 15544, 14831, 14762, 13894, 13777, 13604, 12608, 11498, 11001, 9120, 8886, 8547],
        	backgroundColor: ['red', 'red', 'blue', 'red', 'red', 'red', 'blue', 'red', 'red', 'red', 'blue', 'blue', 'blue', 'blue', 'red', 'red', 'blue', 'blue', 'blue', 'red']
        }]
    },
    options: {
        title: {
            display: true,
            fontSize: 18,
            text: 'The 20 main trolls retweeted by the trolls'
        },
        responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false,
            //fontColor: 'rgb(255, 99, 132)'

        }
    }
});
</script>

<!-- <center>
    <img src="img/retweeted_all.png" width=400px>
    <img src="img/retweeted_trolls.png" width=400px>
</center> -->
<br>
We can see that the exposed trolls present in our database do not represent the majority
of the most retweeted handles, only 6 of them are in the top 20 (one of which
is anonymized).
Besides those, two accounts have been deleted and their handles are
unretrievable.
All the accounts in this top 20 appear to mainly write in Russian (shown in red
on the graph).
This also holds true for the troll accounts: even though some of them picked
English as account language (shown in blue on the graph), they all tweeted
mainly in Russian.<br><br>

Most of the most retweeted accounts are news agencies, several of those are
owned by the Russian government.
It is also interesting to note that almost all of them experienced major changes
in 2013-2014. Here are the most notable ones:

<ul>
  <li><b> rianru </b>: Refers to <i>RIA Novosti</i> (Russian news & Information
      Agency, "Novosti" means "news"), the previous official international news
      agency of Russia. It has been replaced in 2014 by <i>Rossia Segodnia</i>,
      but the name RIA is still used.
  </li>
  <li><b> GazetaRu </b>: <i>Gazeta.ru</i> is one of the most popular Russian
      online newspapers.
      Was part of a major companies fusion in 2013, under the name
      <i>Afisha.Rambler.SUP</i>, later renamed <i>Rambler&co</i> in 2014.
  </li>
  <li><b> RT_russian </b>: Previously named <i>Russia Today</i>, now simply
      known as <i>RT</i> (sheer coincidence?).
      This news channel was created by RIA Novosti, and is globally considered
      as a propaganda outlet. New centre in 2013, RT UK launched in 2014.
  </li>
  <li><b> vesti_news </b>: A news channel belonging to <i>VGTRK</i>, a
      media company owned by the Russian government. Experienced a brand refresh
      in 2014.
  </li>
  <li><b> lentaruofficial </b>: <i>Lenta.ru</i> is another popular online
      newspaper which has been restructured in 2014 and has since be accused of
      serving propaganda purposes.
  </li>
  <li><b> tass_agency </b>: Also a government owned news agency, of which the
      name changed in 2014.
  </li>
  <li><b> lifenews_ru </b>: News website, pro-Kremlin, and allegedly spreading
      fake news. TV channel launched 2013.
  </li>
  <li><b> riafanru </b>: This is the most retweeted troll account, with a
      counter exceeding 70 000 (almost three times the counter of the second
      most retweeted troll). The corresponding website (<i>Federal News Agency</i>)
      seems to be focused on Ukraine, Syria, Russia, and fearmongering. It was
      founded in 2014 and is still running in 2018. (Account active between 2015-2017.)
  </li>
</ul>
Clearly, Russia decided to implement some serious changes in its media landscape
around 2013-2014.
This period corresponds to the explosion of the number of troll accounts. <br><br>

<br><br>


<h3> Retweeters </h3>

Now that we have seen the most retweeted accounts, let us consider the main
"retweeters", focusing again on the unanomyzed accounts.
Surely, since Russian accounts are the most retweeted, Russian accounts should
also be responsible for most of the retweets?
<center>
<canvas id="myChart_retweeters_trolls" width="900px" height="400px"></canvas>
</center>
<script>
var ctx = document.getElementById("myChart_retweeters_trolls").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['WorldOfHashtags', 'GiselleEvns', 'AgitPolk', 'gloed_up', 'ChrixMorgan', 'BleepThePolice', 'DanaGeezus', 'Booth_Prince', 'AndyHashtagger', 'ComradZampolit', 'LoraGreeen', 'TrayneshaCole', 'IlikeBIGbuttand', 'AmandaVGreen', 'DominicValent', 'NotRitaHart', 'KathieMrr', 'DickyIrwin', 'LavrovMuesli', 'Kotovamarys'],
        datasets: [{
        	label: "# Retweets",
            legendText:"en",
        	data: [26973, 16182, 15744, 13811, 13008, 10131, 8444, 6979, 6721, 6323, 5303, 4989, 4927, 4071, 3861, 3552, 3433, 3358, 3037, 2932],
            backgroundColor: ['blue', 'blue', 'red', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'red', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'red', 'red']
        }]
    },
    options: {
        title: {
            display: true,
            fontSize: 18,
            text: 'The 20 main retweeters (trolls)'
        },
        responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false,
            labels: {
                generateLabels: function(chart) {
                    var labels = chart.data.labels;
                    var dataset = chart.data.datasets[0];
                    var red_set = false;
                    var blue_set = false;
                    var legend = labels.map(function(label, index) {
                        var myText = (dataset.backgroundColor[index]=='blue') ? "en" : "ru";
                        var hideIt = (dataset.backgroundColor[index]=='blue') ? blue_set : red_set;
                        if (dataset.backgroundColor[index]=='blue') {
                            blue_set = true
                        } else {
                            red_set = true
                        }
                        if (hideIt) {
                            return {}
                        }
                        return {
                            datasetIndex: 0,
                            fillStyle: dataset.backgroundColor && dataset.backgroundColor[index],
                            strokeStyle: dataset.borderColor && dataset.borderColor[index],
                            lineWidth: dataset.borderWidth,
                            text: myText,
                            hidden: hideIt
                        }
                    });
                    return legend;
                },
                filter: function(legendItem, data) {
                    return false;
                }
                //fontColor: 'rgb(255, 99, 132)'
            }
        }
    }
});
</script>

<!-- <center><img src="img/retweeter_trolls.png" width=400px></center><br> -->

Surprisingly, the vast majority of the main retweeters have their account language
set to English, and actually tweet in English.
Several of those are classified as <i>hashtagers</i>, accounts that play games
by replying to popular hashtags and using those to share their political stance.<br><br>

<h3> Trolls retweet network </h3>

It is now time to visualize the links between the troll accounts that are not
anonymized.
As above, accounts with English language settings are in blue, while Russians
are in red.
The size of a node is proportional to its degree.
The color of a link indicates its importance: red links correspond to
more interactions between two accounts.

<center><img src="img/retweet_exposed_graph.png" width=600px></center><br>

There are clearly two main clusters, divided by language.
Again, some accounts with English settings are actually tweeting in Russian.
All the accounts in the "Novosti" (recall that it means "news") cluster are in
this position. <br>
The two big groups are however connected!
Those are the links between them:<br><br>
<center>
<table style="width:30%; border-collapse:collapse; border:none; rules:none;" align="center">
</center>
<tr><td style="border:none; outline:none;"><table>
  <tr>
    <th><center>EN</center></th>
    <th><center>RU</center></th>
  </tr>
  <tr>
    <td>WarfareWW</td>
    <td>zubovnik</td>
  </tr>
  <tr>
    <td>WarfareWW</td>
    <td>coldwar20_ru</td>
  </tr>
  <tr>
    <td>WarfareWW</td>
    <td>ComradZampolit</td>
  </tr>
  <tr>
    <td>WarfareWW</td>
    <td>MatEvidenceRU</td>
  </tr>
  <tr>
    <td>Pamela_Moore13</td>
    <td>russilanrogov</td>
  </tr>
  <tr>
    <td>TEN_GOP</td>
    <td>russilanrogov</td>
  </tr>
</table></td>
<td style="border:none; outline:none;" valign="top"><table>
  <tr>
    <th><center>EN</center></th>
    <th><center>RU</center></th>
  </tr>
  <tr>
    <td>MatEvidence</td>
    <td>zubovnik</td>
  </tr>
  <tr>
    <td>MatEvidence</td>
    <td>coldwar20_ru</td>
  </tr>
  <tr>
    <td>MatEvidence</td>
    <td>ComradZampolit</td>
  </tr>
  <tr>
    <td>MatEvidence</td>
    <td>MatEvidenceRU</td>
  </tr>
  <tr>
    <td>MatEvidence</td>
    <td>NovostiDamask</td>
  </tr>
</table></td></tr>
</table>
</center>
Four English speaking and five Russian speaking accounts make the bridge
between the clusters.
Two of the American accounts are <i>right trolls</i>, while the two others (which
show a lot of similarities) are classified as <i>newsfeed</i>.<br>
<i>russilanrogov</i> is the only Russian connexion of <i>Pamela_Moore13</i> and
<i>TEN_GOP</i>.
It also seems to have right troll tendencies. Although it writes mostly in
Russian, several of its tweets are in English or even in French, and are very
focused on politics.<br>
Interestingly, the relations always appear to go in the same direction: the
Russian accounts retweet the English speaking ones, and not the other way around.<br>
Following
<a href="https://www.washingtonpost.com/news/politics/wp/2017/11/02/at-least-five-people-close-to-trump-engaged-with-russian-twitter-trolls-from-2015-to-2017/?utm_term=.5e7989478256">
    an article by The Washington Post</a>,
it has been observed that several close relatives of Donald Trump have engaged
with some of the accounts mentionned in this table, one of which being on the
RU side.<br><br>


<h3>Conclusions</h3>

Regarding retweets, the IRA trolls are split in two main groups: Russian speaking
and English speaking.<br>

The Russian trolls tend to interact much more between each other, as we can see
both on the bar charts and on the network graph.
They also happen to sometimes use posts from American trolls, while the contrary
does not appear to be true.
Furthermore, they seem to focus their activity on a handful of very popular
media, the majority of which is directly linked to the government.<br>

English speaking trolls, on the other hand, seem to use retweets very actively
and to diversify their sources.
The graph below shows that they also are much more successful in spreading their
messages through retweets.
The posts written in English by the trolls got more than twice the number of
retweets as the posts in Russian.

<center>
<canvas id="myChart_retweeted_byall_lang" width="750px" height="200px"></canvas>
</center>
<script>
var ctx = document.getElementById("myChart_retweeted_byall_lang").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['EN', 'RU'],
        datasets: [{
        	label: "# Retweets",
        	data: [21913266, 8530216],
        	backgroundColor: ['blue', 'red']
        }]
    },
    options: {
        title: {
            display: true,
            fontSize: 18,
            text: 'Retweets of troll written messages per language'
        },
        responsive : false,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false,
        }
    }
});
</script>
