<h2> Retweets </h2>

Retweets are one of the most important functionalities of Twitter.
They often lead to a snowball effect: a post that receives attention gets
retweeted several times, which gives it more visibility, thus more attention...
Retweets create retweets!
It is a really convenient and fast way to propagate a message.

<center><img src="img/retweet_graph.png" width=500px></center></br>



On a fait un tas de recherches super intéressantes dans les data de
<a href="https://about.twitter.com/en_us/values/elections-integrity.html#data">Twitter</a>.
Et on a tracé des jolis graphes: </br>
<center><img src="img/retweet_graph.png" width=500px></center></br>

Nos résultats sont reportés dans le tableau suivant:
<center>
<table style="width:60%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
</center>
