<h2> Textual analysis </h2>

Before doing further analysis let us first see what actually <b>contain</b> the Tweets.</br>
That is, let us take a look at the
<ul>
  <li><strong>Languages :</strong> What are the languages used by the trolls ?</li>
  <li><strong>Hashtags :</strong> Which hashtags do they use ? </li>
  <li><strong>Words :</strong> Which are the favourite words of the trolls ?</li>
  <li><strong>Sentiment analysis :</strong> What are their opinions on controversial subjects ?</li>
  <li> What are the mains differences between Russian and English trolls ?</li>
</ul>

<h3> Languages </h3>

<canvas id="myChart" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
As we can see, the vast majority of trolls are <b>russian</b> and <b>english</b>. </br>
The und stands for <i>'undefined'</i>. This can be explained by the facts that Tweets are written in a poor
grammatical structure, making them difficult to understand by a computer. </br>
<i>Note</i> : for the rest of the analysis, we will use the english tweets and a translated subset of the russian ones.
This subset corresponds to the 15.000 most retweeted ones.
<h3> Hashtags </h3>
Another important aspect of the tweets are the hashtags. They represent a lot of information as they can tell about the subject of the tweet, the opinion of the tweeter, ... </br>
Let us compare the most popular hashtags between <b>russian</b> and <b>english</b> ones.
<canvas id="myChart3" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart3").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
As we can see the most used hashtags are those about news, sports and politics. This makes sense as these 3 topics are common subject of dicsussion between all tweeter's users, trolls included.
<canvas id="myChart2" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart2").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
A quick google search about these tweets teaches us that
<ul>
  <li><strong>ВСУ </strong> is the "Armed Forces of Ukraine"</li>
  <li><strong>ДНР </strong> is Donetsk People's Republic which is a proto-state of Ukraine </li>
  <li><strong>ПозорWADA </strong> talks about the cancellation of the russian paralympic games</li>
  <li><strong>АнгелыВсердце</strong>  refers to the events of the killed children of Donbass</li>
  <li> <strong>ЛНР</strong> means Luhansk People's Republic which is another proto-state of Ukraine</li>
</ul>
We can clearly see the difference of discussed topics between russian and english trolls. </br>
Now is there a difference between <b>trolls</b> and <b>normal</b> users ? </br>
By consulting webistes such as <a href = https://www.theroot.com/2014-s-most-popular-twitter-hashtags-1790868561> theroot, <a href=https://www.thewebbureau.com/blog/2017/august/twitters-most-popular-hashtags> WebBureau</a>, <a href=https://www.fin24.com/Tech/News/here-are-twitters-top-10-hashtags-for-2016-20161207> fin24</a> and the
<a href=https://www.independent.co.uk/news/twitters-biggest-moments-of-2015-a6763036.html> independent</a>, we can draw the following tweet's usage
<center>
<table style="width:60%">
  <caption>Top 10 most used hashtags in 2014, 2015,2016 and ever</caption>
  <tr>
    <th>2014</th>
    <th>2015</th>
    <th>2016</th>
    <th>Ever</th>
  </tr>
  <tr>
    <td>#BringBackOurGirls</td>
    <td>#JeSuisParis</td>
    <td>#Rio2016</td>
    <td>#BlackLivesMatter</td>
  </tr>
  <tr>
    <td>#TweetLikeJadenSmith</td>
    <td>#BlackLivesMatter</td>
    <td>#Election2016</td>
    <td>#CupforBen</td>
  </tr>
  <tr>
    <td>#BreakTheInternet</td>
    <td>#MarriageEquality</td>
    <td>#PokemonGo</td>
    <td>#brexit</td>
  </tr>
  <tr>
    <td>#LifetimeMoviesBeLike</td>
    <td>#LoveWins</td>
    <td>#Euro2016</td>
    <td>#EdBallsDay</td>
  </tr>
  <tr>
    <td>#DonLemonReporting</td>
    <td>#IStandWithAhmed</td>
    <td>#Oscars</td>
    <td>#FollowFriday</td>
  </tr>
</table>
</center>
Note that we have chosen the years 2014,2015 and 2016 here because they correspond to the peak of trolls' activity.
One can already observe major differences between the trolls and normal people' discussions. Trolls tend to talk more about
global subjects while others are highly influenced by local events.

<h3> Words </h3>
Now that we have analysed the hashtags, let us focus on the words themselves. This allows us  to see what are the typical words used by trolls.
Note that in order to stay the more coherent possible we stemmed the words and did not include the stopwords in the list.
<canvas id="myChart4" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart4").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
Without any surprise the most frequent word is <b>Trump</b>. </br>
Now comparing those with the russian tweets
<canvas id="myChart5" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart5").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
Once again, we can clearly see the difference of discussed topics. Russian trolls are naturally
more focus on local subjects such as Ukrain or the genocide of Donbass with words such as <i> children</i> or <i>memories</i>. </br>
Nevertheless the attentive reader may notice the presence of the word <i> american</i> at position 18. </br>
</br>
Are those words very different from those of a typical english tweeter user ?  </br>
Long story short : <b>kinda</b>.

<canvas id="myChart6" width="600px" height="400px"></canvas>
<script>
var ctx = document.getElementById("myChart6").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
The biggest difference between is obviously the total absence of the word <b>Trump </b> for the normal users ! This indicates
well how <b>Trump </b> is a particularly specific topic for the english trolls. </br>
Furthemore, except for the word <i>love</i>, one could argue that the words used by the english trolls seem to be more negative that
those used by the rest of the world. This is illustrated by words such as <i>kill</i>, <i>break</i>, <i>never</i> and <i>shoot</i> for the
trolls, where other prefer words such as <i>good</i>, <i>lol</i>, <i>great</i>.
<h3> Sentiment analysis </h3>
<!-- <center> -->
<!-- <img src="img/harold-0.jpg" onmouseover="this.width='500'; this.height='500'" onmouseout="this.width='200'; this.height='200'"> -->
<!-- </center> -->
The final part of this textual analysis consists of classifying the relevant tweets as <i>positive</i> or <i>negative</i>. Such
a process can be performed via a <b>sentiment analysis</b>. </br>
Once again, we have separated the analysis of the english and russian tweets. It must be noted that two
parallel analysis were made. A quite naive one inspired by <a href=https://github.com/jeffreybreen/twitter-sentiment-analysis-tutorial-201107/tree/08a269765a6b185d5f3dd522c876043ba9628715  > Jeffrey Breen</a>
and a more complex one based on a <a href=https://github.com/cjhutto/vaderSentiment > MIT tool</a>.</br>
</br>
For the <b>english</b> we focused ourselves on the tweets talking about respectively
<i>Trump</i>, <i>Obama</i> and <i>Hillary</i>.
<canvas id="myChart7" width="400px" height="200px" ></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
  var ctx = document.getElementById('myChart7');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Trump', 'Obama', 'Hillary'],
    datasets: [
      {
        label: 'Positive',
        data: [67.8, 50, 23],
        backgroundColor: '#D6E9C6',
      },
      {
        label: 'Neutral',
        data: [20.7, 20 , 22],
        backgroundColor: '#FAEBCC',
      },
      {
        label: 'Negative',
        data: [11.4, 45 ,12],
        backgroundColor: '#EBCCD1',
      }
    ]
  },
  options: {
    title: {
              display: true,
              text: 'English tweets sentiment analysis'
          },
    scales: {
      xAxes: [{ stacked: true }],
      yAxes: [{ stacked: true }]
    }
  }
});
</script>
As we can see, the negative scores of Trump and Hillary are close enough while Obama has the lowest one.
As for the positive scores, Trump is the big winner here against a Hillary that is quite behind.</br>
</br>

As for the Russian tweets, we've decided to dig deeper into the <i>Ukrainian</i> conflict illustrated by the
<b>word</b> and <b>hashtags</b> analysis. As a comparison, we've also selected <i>Russia</i>, another
highly debated subjects among the russian trolls.
<canvas id="myChart8" width="400px" height="200px"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
  var ctx = document.getElementById('myChart8');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Russia', 'Ukrain'],
    datasets: [
      {
        label: 'Positive',
        data: [67.8, 50],
        backgroundColor: '#D6E9C6',
      },
      {
        label: 'Neutral',
        data: [20.7, 20 ],
        backgroundColor: '#FAEBCC',
      },
      {
        label: 'Negative',
        data: [11.4, 45],
        backgroundColor: '#EBCCD1',
      }
    ]
  },
  options: {
    title: {
              display: true,
              text: 'Russian tweets sentiment analysis'
          },
    scales: {
      xAxes: [{ stacked: true }],
      yAxes: [{ stacked: true }]
    }
  }
});
</script>
Here the results are clearly visible, not only the negativity towards Ukrain is <ins>much</ins>
more pronounced that towards Russia, but the opposite goes also for the positivity; the tweets
are much more positive when talking about Ukrain.
